/* TODO tab-size: 4 */

.univ {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.pre-app {
    padding-top: 100px;
}

.pre-app div {
    padding: 5px;
}

.pre-app input {
    font-size: large;
}

.pre-app button {
    font-size: large;
}

.pre-app__title {
    font-size: xx-large;
}

.something-graphical {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
